#
*.pyc
#*.txt
*.csv
app/static/fonts/codropsicons/license.txt
app/templates/follower_email.txt
__pycache__/
app/__pycache__/
app/static/feesten/
app/static/test/
app/static/img/
app/static/images/
!app/static/css/
!app/static/fonts/
!app/static/js/
!app/static/robots.txt
unpack
flask/
venv/
tmp/
csv/
.vscode
