<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

	<body>
			<section class="gallery-block compact-gallery">
						<div class="row no-gutters">
							<div class="col-md-6 col-lg-4 item zoom-on-hover">
								<a class="lightbox" href="static/img/galerij/galerij_0.jpg">
									<img class="img-fluid image" src="static/img/galerij/galerij_0.jpg">
									<span class="description">
										<span class="description-heading">Zoute Haring</span>
										<span class="description-body">Zoute Haring op rode biet en een haring salade</span>
									</span>
								</a>
							</div>
							<div class="col-md-6 col-lg-4 item zoom-on-hover">
								<a class="lightbox" href="static/img/galerij/galerij_1.jpg">
									<img class="img-fluid image" src="static/img/galerij/galerij_1.jpg">
									<span class="description">
										<span class="description-heading">gefrituurde verse sardines</span>
										<span class="description-body"></span>
									</span>
								</a>
							</div>
							<div class="col-md-6 col-lg-4 item zoom-on-hover">
								<a class="lightbox" href="static/img/galerij/galerij_2.jpg">
									<img class="img-fluid image" src="static/img/galerij/galerij_2.jpg">
									<span class="description">
										<span class="description-heading">Sandwich van makreel met sinaasappel</span>
										<span class="description-body">Sous-vide gegaarde makreel sandwich met een een sinaasappel saus</span>
									</span>
								</a>
							</div>
							<div class="col-md-6 col-lg-4 item zoom-on-hover">
								<a class="lightbox" href="static/img/galerij/galerij_3.jpg">
									<img class="img-fluid image" src="static/img/galerij/galerij_3.jpg">
									<span class="description">
										<span class="description-heading">Sukade Hapje</span>
										<span class="description-body">Aardappelmousseline met sous-vide gegaarde rund sukade, ganzenlever, gepocheerd kwarteleitje en truffel</span>
									</span>
									</a>
								</div>
							<div class="col-md-6 col-lg-4 item zoom-on-hover">
								<a class="lightbox" href="static/img/galerij/galerij_4.jpg">
									<img class="img-fluid image" src="static/img/galerij/galerij_4.jpg">
									<span class="description">
										<span class="description-heading">Rib-eye met een doperwtenpuree en bloemkoolroosjes</span>
										<span class="description-body">Rib-eye met een doperwtenpuree en krokant gebakken bloemkoolroosjes</span>
									</span>
								</a>
							</div>
							<div class="col-md-6 col-lg-4 item zoom-on-hover">
								<a class="lightbox" href="static/img/galerij/galerij_5.jpg">
									<img class="img-fluid image" src="static/img/galerij/galerij_5.jpg">
									<span class="description">
										<span class="description-heading">Mascarpone mousse, gember brownie en een gevulde perzik</span>
										<span class="description-body">Mascarpone mousse met een frambozencoulis</span>
									</span>
								</a>
							</div>
							<div class="col-md-6 col-lg-4 item zoom-on-hover">
								<a class="lightbox" href="static/img/galerij/galerij_6.jpg">
									<img class="img-fluid image" src="static/img/galerij/galerij_6.jpg">
									<span class="description">
										<span class="description-heading">Scheermesjes salade</span>
										<span class="description-body">Salade gemaakt van scheermesjes, appeltjes, sla, radijs en mierikswortel saus</span>
									</span>
								</a>
							</div>
							<div class="col-md-6 col-lg-4 item zoom-on-hover">
								<a class="lightbox" href="static/img/galerij/galerij_7.jpg">
									<img class="img-fluid image" src="static/img/galerij/galerij_7.jpg">
									<span class="description">
										<span class="description-heading">Meloengranité</span>
										<span class="description-body">Meloengranité met vijf kruidenmousse</span>
									</span>
								</a>
							</div>
							<div class="col-md-6 col-lg-4 item zoom-on-hover">
								<a class="lightbox" href="static/img/galerij/galerij_8.jpg">
									<img class="img-fluid image" src="static/img/galerij/galerij_8.jpg">
									<span class="description">
										<span class="description-heading">Ravioli met een Tomaten saus</span>
										<span class="description-body"> Ravioli gevuld met duif en een tomaten saus</span>
									</span>
								</a>
							</div>
						</div>
						<div class="row no-gutters">
								<div class="col-md-6 col-lg-4 item zoom-on-hover">
									<a class="lightbox" href="static/img/galerij/galerij_9.jpg">
										<img class="img-fluid image" src="static/img/galerij/galerij_9.jpg">
										<span class="description">
											<span class="description-heading">Wildzwijn hamburgertje met een perenchutney</span>
											<span class="description-body">hamburger gemaakt van wildzwijn, macadamia noten en chorizo worst</span>
										</span>
									</a>
								</div>
								<div class="col-md-6 col-lg-4 item zoom-on-hover">
									<a class="lightbox" href="static/img/galerij/galerij_10.jpg">
										<img class="img-fluid image" src="static/img/galerij/galerij_10.jpg">
										<span class="description">
											<span class="description-heading">Langzaam gegaarde hertesukade </span>
											<span class="description-body">Langzaam gegaarde hertensukade op een truffel aardappel puree en verse ganselever een gepocheerd kwartel eitje en verse truffel</span>
										</span>
									</a>
								</div>
								<div class="col-md-6 col-lg-4 item zoom-on-hover">
									<a class="lightbox" href="static/img/galerij/galerij_11.jpg">
										<img class="img-fluid image" src="static/img/galerij/galerij_11.jpg">
										<span class="description">
											<span class="description-heading">Haas met een kumquats saus</span>
											<span class="description-body"></span>
										</span>
									</a>
								</div>
								<div class="col-md-6 col-lg-4 item zoom-on-hover">
									<a class="lightbox" href="static/img/galerij/galerij_12.jpg">
										<img class="img-fluid image" src="static/img/galerij/galerij_12.jpg">
										<span class="description">
											<span class="description-heading">Kwartel eitje met aioli</span>
											<span class="description-body"></span>
										</span>
										</a>
									</div>
								<div class="col-md-6 col-lg-4 item zoom-on-hover">
									<a class="lightbox" href="static/img/galerij/galerij_13.jpg">
										<img class="img-fluid image" src="static/img/galerij/galerij_13.jpg">
										<span class="description">
											<span class="description-heading">Een kleine vissalade</span>
											<span class="description-body"></span>
										</span>
									</a>
								</div>
								<div class="col-md-6 col-lg-4 item zoom-on-hover">
									<a class="lightbox" href="static/img/galerij/galerij_14.jpg">
										<img class="img-fluid image" src="static/img/galerij/galerij_14.jpg">
										<span class="description">
											<span class="description-heading">Safraan kroepoek met palingfilet</span>
											<span class="description-body"></span>
										</span>
									</a>
								</div>
								<div class="col-md-6 col-lg-4 item zoom-on-hover">
									<a class="lightbox" href="static/img/galerij/galerij_15.jpg">
										<img class="img-fluid image" src="static/img/galerij/galerij_15.jpg">
										<span class="description">
											<span class="description-heading">gestoomde bao met crispy krab gemarineerd in gembermiso</span>
											<span class="description-body"></span>
										</span>
									</a>
								</div>
								<div class="col-md-6 col-lg-4 item zoom-on-hover">
									<a class="lightbox" href="static/img/galerij/galerij_16.jpg">
										<img class="img-fluid image" src="static/img/galerij/galerij_16.jpg">
										<span class="description">
											<span class="description-heading">Langzaam gegaarde Varkensbuik met rode misosaus en nashipeer</span>
											<span class="description-body"></span>
										</span>
									</a>
								</div>
								<div class="col-md-6 col-lg-4 item zoom-on-hover">
									<a class="lightbox" href="static/img/galerij/galerij_17.jpg">
										<img class="img-fluid image" src="static/img/galerij/galerij_17.jpg">
										<span class="description">
											<span class="description-heading">mojito moleculair</span>
											<span class="description-body"></span>
										</span>
									</a>
								</div>
							</div>
							<div class="row no-gutters">
									<div class="col-md-6 col-lg-4 item zoom-on-hover">
										<a class="lightbox" href="static/img/galerij/galerij_18.jpg">
											<img class="img-fluid image" src="static/img/galerij/galerij_18.jpg">
											<span class="description">
												<span class="description-heading">X1</span>
												<span class="description-body"></span>
											</span>
										</a>
									</div>
									<div class="col-md-6 col-lg-4 item zoom-on-hover">
										<a class="lightbox" href="static/img/galerij/galerij_19.jpg">
											<img class="img-fluid image" src="static/img/galerij/galerij_19.jpg">
											<span class="description">
												<span class="description-heading">X2</span>
												<span class="description-body"></span>
											</span>
										</a>
									</div>
									<div class="col-md-6 col-lg-4 item zoom-on-hover">
										<a class="lightbox" href="static/img/galerij/galerij_20.jpg">
											<img class="img-fluid image" src="static/img/galerij/galerij_20.jpg">
											<span class="description">
												<span class="description-heading">Sardientjes van de gril</span>
												<span class="description-body"></span>
											</span>
										</a>
									</div>
									<div class="col-md-6 col-lg-4 item zoom-on-hover">
										<a class="lightbox" href="static/img/galerij/galerij_22.jpg">
											<img class="img-fluid image" src="static/img/galerij/galerij_22.jpg">
											<span class="description">
												<span class="description-heading">Haas met een kumquats saus</span>
												<span class="description-body"></span>
											</span>
										</a>
									</div>
									<div class="col-md-6 col-lg-4 item zoom-on-hover">
										<a class="lightbox" href="static/img/galerij/galerij_23.jpg">
											<img class="img-fluid image" src="static/img/galerij/galerij_23.jpg">
											<span class="description">
												<span class="description-heading">Domino van wintertruffel met sint-Jacobsschelpen</span>
												<span class="description-body">flinterdun gesneden Sint-ja­kobs­schel­pen en truffel</span>
											</span>
										</a>
									</div>
									<div class="col-md-6 col-lg-4 item zoom-on-hover">
										<a class="lightbox" href="static/img/galerij/galerij_24.jpg">
											<img class="img-fluid image" src="static/img/galerij/galerij_24.jpg">
											<span class="description">
												<span class="description-heading">Kwarteltje op gesmoorde prui</span>
												<span class="description-body"></span>
											</span>
										</a>
									</div>
		
				</section>

				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<title>Compact Gallery</title>
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
				<link rel="stylesheet" href="static/css/compact-gallery.css">
			

				<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
				<script>
					baguetteBox.run('.compact-gallery', { animation: 'slideIn'});
				</script>
			
	</body>
{% endblock %}

