<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

	<body>
		<div class="row">
			<div class="col-md-12 col-sm-1">
				<img src="static/img/caprese.jpg" class="img-fluid" alt="Responsive image">
			</div>
			<div class="col-md-4 col-sm-1">

			</div>

		</div>
			

		<div class="container">
			<!-- Top Navigation -->
			<p class="text-center"></p>
		      <blockquote class="blockquote">
			    <p class="text-center mb-0">The Kings Delight is een gelegenheid restaurant welke zijn deuren ongeveer 2 maal per jaar opent.</p>
			    <footer class="blockquote-footer text-center"><cite>Het is opgericht op 27 Januari 1989 na het organiseren en nuttigen van een "Engelse thee" Het is onstaan uit een fascinatie voor koken. Voor ieder feest of diner wordt een thema gekozen om heerlijke gerechten bij uit te zoeken gecombineerd met wijnen, cocktails enz.</cite></footer>
		      </blockquote>
            
			</div>
	</body>
{% endblock %}

