<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

	<body>
    <div class="row">
            <p></p>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
            <a href="search?q=wild" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Wild Recepten</a>
        </div><div class="col-md-2">
            <a href="search?q=afrika" class="btn btn-success btn-lg" role="button" aria-disabled="true">Afrikaans Feest</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">        
            <a href="search?q=india" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">Indiaas Feest</a>
        </div><div class="col-md-2">
            <a href="search?q=curry" class="btn btn-warning btn-lg" role="button" aria-disabled="true">Curry Recepten</a>
        </div>

    </div>

   </body>
{% endblock %}
        